.task1 {
  list-style-type: disc;
  color: blue;
}

.task2 {
  width: 250px;
  font-family: Arial, sans-serif;
  font-size: 15px;
  border-spacing: 5px;
}

.task2 td {
  border: 1px solid blue;
  padding: 7px;
}

.task2 a {
  text-decoration: none;
  color: blue;
  display: block;
}

.task2 a:hover {
  background-color: #f5f5f5;
}

.task3 {
  width: 250px;
  font-family: Arial, sans-serif;
  font-size: 15px;
  border-spacing: 5px;
}

.task3 td {
  background-color: #484848;
  padding: 7px;
}

.task3 a {
  text-decoration: none;
  color: white;
}

.task3 a:hover {
  background-color: white;
  color: #484848;
  border-color: white;
}

.task4 {
  width: 250px;
  height: 200px;
  font-family: Arial, sans-serif;
  font-size: 15px;
  border-spacing: 5px;
  text-indent: 10px;
}

.task4 td {
  border: 1px solid #0081e7;
  background-color: #0081e7;
  position: relative;
  overflow: hidden;
}

.task4 a {
  text-decoration: none;
  color: white;
  height: 100%;
  width: 100%;
  display: block;
  margin-top: 10px;
}

.task4 td:hover {
  background-color: white;
  cursor: pointer;
}
.task4 td:hover a {
  color: blue;
}

.task4 td:hover::after {
  content: "✈";
  color: blue;
  position: absolute;
  right: -20px;
  top: 45%;
  font-size: 20px;
  transform: translateY(-50%);
  animation: fly 0.8s forwards;
}

@keyframes fly {
  0% {
    right: -20px;
    opacity: 0;
  }
  100% {
    right: 10px;
    opacity: 1;
  }
}

.task5 {
  list-style-type: none;
  font-family: Arial, sans-serif;
  font-size: 15px;
}

.task5 a {
  float: left;
  border: 1px solid blue;
  padding: 5px;
  margin-right: 10px;
  display: block;
  text-decoration: none;
}

.task5 a:hover {
  background-color: #484848;
  color: white;
  border: 1px solid black;
}

.task6 {
  list-style-type: none;
  font-family: Arial, sans-serif;
  font-size: 15px;
}

.task6 li {
  display: inline-block;
}

.task6 a {
  border: 1px solid blue;
  padding: 5px;
  margin-right: 10px;
  text-decoration: none;
  width: 45%;
  margin: 5px;
}

.task6 a:hover {
  background-color: #484848;
  color: white;
  border: 1px solid black;
}

.holiday {
  color: gray;
}

.task9 td:active {
  color: red;
}

.task8 li {
  display: inline-block;
}

.task8 {
  list-style-type: none;
  font-family: Arial, sans-serif;
  font-size: 15px;
  background-color: #fc9d00;
  padding: 10px;
}

.task8 a:hover {
  background-color: #fc9d50;
}

.task8 a {
  /* border: 1px solid blue; */
  padding: 5px;
  text-decoration: none;
  width: 45%;
  color: white;
}
